<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html">
    <title>Login</title>
  </head>
  <body>
    <form>
      <input type="text" name="username" placeholder="username (eg: jdoe)" style="width:20em" autofocus>
      <br>
      <input type="password" name="password" placeholder="password" style="width:20em">
      <br>
      <button type="submit" formenctype="application/x-www-form-urlencoded" formaction="{{target}}" formmethod="post">Login</button>
    </form>
  </body>
</html>
